<div class="col-xs-12 col-md-8">
<h1>Customer list</h1>
<p><%= link_to "Add new customer", new_customer_path, class: "btn btn-info" %></p>
  <div class="table-responsive">
  <%= will_paginate @customers, renderer: BootstrapPagination::Rails%>
    <table class="table">
      <tr>
        <th><%= link_to sortable "customer_id", "Customer ID" %></th>
        <th><%= link_to sortable "cust_name", "Customer name" %></th>
        <th>Tel</th><th>Fax</th>
        <th>Action</th>
      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_id%></td>
        <td><%= link_to customer.cust_name, customer_path(customer)%></td>
        <td><%= customer.cust_tel%></td>
        <td><%= customer.cust_fax%></td>
        <td>
          <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-warning" %>
        </td>
      </tr>
      <% end %>
    </table>
  <%= will_paginate @customers, renderer: BootstrapPagination::Rails%>
  </div>
</div>
