<div class="col-xs-12 col-md-8">
<h1>New Order</h1>
<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    Order date: <%= Date.today %><br/>
    Customer No.: <%= f.text_field :customer_id, :value => 1%>
  </p>
  <hr>
  <h4>Item in order ~ <span id="iNum">0</span></h4>
  <table id="order_item_list" class="table">
    <thead>
      <tr>
        <td>Barcode</td><td>Item name</td><td>Color</td><td>Price</td><td>Qty</td>
        <td>Subtotal</td><td></td>
      </tr>
    </thead>
    <tbody>
    <%= f.fields_for :orderitems, @orderitems do |orderitem_fields| %>
      <tr class="eachProduct">
        <td>
          <%= orderitem_fields.text_field :barcode %>
          <%= orderitem_fields.hidden_field :item_id %>
        </td>
        <td class="name"></td>
        <td class="color"></td>
        <td>
          <%= orderitem_fields.text_field :price %>
        </td>
        <td>
          <%= orderitem_fields.text_field :qty %>
        </td>
        <td class="subTotal"></td>
        <td><%= link_to "Remove", "#" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr>
  <p>
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </p>
  <p>
    <%= f.label :total %>
    <span class="totalAmount">0</span>
  </p>
  <p>
    <%= f.label :cash_received %>
    <%= f.text_field :cash_received %>
  </p>
  <p>
    <%= f.label :change %>
    <%= f.text_field :change, value: 0 %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit "Confirm and Next", class:"btn btn-primary"%>
    <%= link_to "Cancel", new_order_path, class: "btn btn-warning"%>
  </p>
<% end %>
</div>
