<div class="col-xs-12 col-md-8">
<h1>Order detail</h1>
<p>
Order number:<%= @order.order_id %><br/>
Customer:<%= @order.customer_id %><br/>
Date:<%= @order.updated_at %>
</p>
Detail
<table class="table">
<tr>
<th>Barcode</th>
<th>Item name</th>
<th>Price</th>
<th>Qty</th>
<th>Amount</th>
</tr>
<% for item in @order.orderitems %>
<tr>
  <td><%= item.barcode %></td>
  <td><%= item.get_item_name %></td>
  <td><%= item.price %></td>
  <td><%= item.qty %></td>
  <td><%= item.get_subtotal %></td>
</tr>
<% end %>
<tr><td colspan="4">Discount</td><td><%= @order.discount %></td></tr>
<tr><td colspan="4">Cash Received</td><td><%= @order.cash_received %></td></tr>
<tr><td colspan="4">Change</td><td><%= @order.change %></td></tr>
<tr>
<td>Order comment</td>
<td id="orderComment" colspan="4"><%= @order.comment %></td>
</tr>
</table>
<%= link_to 'Back to list', orders_path %>
</div>
