<div class="col-xs-12 col-md-8">
<h1>Item list</h1>
<p>
<%= link_to "Add new item", new_item_path, class: "btn btn-info" %>
Total <%= pluralize @items.count, "item" %>
<span>
<input type= "text" id="item_search" placeholder="Enter barcode to search"/></span>
</p>  
  <div class="table-responsive">
  <%= will_paginate @items, renderer: BootstrapPagination::Rails%>
    <table class="table">
      <tr>
        <th><%= link_to sortable "item_id", "ID" %></th>
        <th><%= link_to sortable "item_name", "Item name" %></th>
        <th><%= link_to sortable "item_name_en", "English name" %></th>
        <th><%= link_to sortable "barcode", "Barcode" %></th>
        <th><%= link_to sortable "stock", "Stock" %></th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.item_id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_name_en %></td>
        <td><%= link_to item.barcode, item_path(item) %></td>
        <td><%= item.stock %></td>
        <td><%= item.active %></td>
        <td>
          <%= link_to "Restock", item_restock_path(item), class: "btn btn-info"%>
          <%= link_to "Adjust", item_adjust_path(item), class: "btn btn-info"%><br/>
          <%= link_to "Edit", edit_item_path(item), class: "btn btn-warning" %>
          <% if item.active %>
          <%=  link_to "Deactivate", item_deactivate_path(item), method: :patch, class: "btn btn-danger", data: { confirm: "Sure?" } %>
          <% else %>
          <%=  link_to "Activate", item_activate_path(item), method: :patch, class: "btn btn-danger", data: { confirm: "Sure?" } %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <%= will_paginate @items, renderer: BootstrapPagination::Rails%>
  </div>
</div>
