<div class="">
<h1>Item list</h1>
  <div class="table-responsive">
  <%= link_to "Add new item", new_item_path, class: "btn btn-link" %>
  
  <%= will_paginate @items, renderer: BootstrapPagination::Rails%>
    <table class="table">
    
      <% @items.each do |item| %>
      <tr>
        <td><%= item.item_id%></td>
        <td><%= item.item_name%></td>
        <td><%= item.item_name_en%></td>
        <td><%= item.barcode%></td>
        <td><%= item.stock%></td>
        <td><%= link_to "Edit", edit_item_path(item) %></td>
      </tr>
      <% end %>
    </table>
  <%= will_paginate %>
  
  </div>
</div>
