<div id="editItemForm" class="col-xs-12 col-md-8">
<h1>Restock item</h1>
<%= form_for(@item, url: { action: "restock_update"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :item_name %>
    <%= @item.item_name  %>
  </p>
  <p>
    <%= f.label :item_english_name %>
    <%= @item.item_name_en %>
  </p>
  <p>
    <%= f.label :barcode %>
    <%= @item.barcode %>
  </p>
  <p>
    <%= f.label "current cost" %>
    <%= @item.unit_cost %>
  </p>
  <p>
    <%= f.label "current stock" %>
    <%= @item.stock %>
  </p>
  <p>
    <%= f.label "New arrival cost (per unit)" %>
    <%= text_field_tag(:new_arrival_cost) %>
  </p>
  <p>
    <%= f.label "New arrival qty" %>
    <%= text_field_tag(:new_arrival_stock) %>
  </p>

  <p>
    <%= f.submit "Save changes", class:"btn btn-primary", data: { confirm: "Are you sure?" }%>
    <%= link_to "Cancel", items_path, class: "btn btn-warning"%>
  </p>
<% end %>
</div>
