<div id="newItemForm" class="col-xs-6 col-md-4">
  
<h1>Item <%= @item.item_id %></h1>
<ul>
<li>Barcode: <%= @item.barcode %></li>
<li>Brand: <%= @item.brand %></li>
<li>Item name: <%= @item.item_name %></li>
<li>English name: <%= @item.item_name_en %></li>
<li>Supplier: <%= @item.supplier_id %></li>
<li>Color: <%= @item.color %></li>
<li>Stock: <%= @item.stock %></li>
<li>Unit cost: <%= @item.unit_cost %></li>
<li>Unit price: <%= @item.unit_price %></li>
<li>Status: <%= @item.active %></li>
<li>Category: <%= @item.category %></li>
<li>Created at: <%= @item.created_at %></li>
<li>Updated at: <%= @item.updated_at %></li>
</ul>
<%= link_to "Back to list", items_path, class: "btn btn-warning" %>
</div>
