<div id="newItemForm" class="col-xs-6 col-md-4">
  
<h1>Item <%= @item.item_id %></h1>
<ul>
<li>Barcode: <%= @item.barcode %></li>
<li>Item name: <%= @item.item_name %></li>
<li>English name: <%= @item.item_name_en %></li>
<li>Color: <%= @item.color %></li>
<li>Current stock: <%= @item.stock %></li>
<li>Unit cost: <%= @item.unit_cost %></li>
<li>Unit price: <%= @item.unit_price %></li>
<li>Created at: <%= @item.created_at %></li>
<li>Updated at: <%= @item.updated_at %></li>
</ul>
<%= link_to "Back to list", items_path %>
</div>
